<div class="ons-grid__col ons-col-6@m ons-u-mb-l">
    <div class="ons-card u-mt-l u-mb-l" data-test="census-about">
        <h2 class="ons-u-fs-m" id="about-census">{{ localise "AboutTheCensus" .Language 1 }}</h2>
        <p id="about-census-desc">{{ localise "AboutCensusSubhead" .Language 1 }}</p>
        <ul class="ons-list ons-list--dashed">
            <li class="ons-list__item">
                <a href="census/aboutcensus" class="ons-list__link">{{ localise "AboutCensusLink1" .Language 1 }}</a>
            </li>
        </ul>
    </div>
</div>