<div class="ons-grid__col ons-col-6@m ons-u-mb-l">
    <div class="ons-card" data-test='census-topic-summaries'>
        <h2 class="ons-u-fs-m" id="other-census">{{ localise "CensusTopics" .Language 1 }}</h2>
        <p id="other-census-desc">{{ localise "CensusTopicsSubhead" .Language 1 }}</p>
        <ul class="ons-list ons-list--dashed">
            <li class="ons-list__item">
                <a href="/census/aboutcensus/censusproducts/topicsummaries" class="ons-list__link">
                    {{ localise "CensusTopicsLink1" .Language 1 }}
                </a>
            </li>
        </ul>
    </div>
</div>