<div class="ons-grid__col ons-col-6@m">
    <div class="ons-card" data-test='search-8'>
        <h2 class="ons-u-fs-m" id="contact-us">{{ localise "CensusContactUs" .Language 1 }}</h2>
        <p id="contact-us-desc">{{ localise "CensusContactUsSubhead" .Language 1 }}</p>
        <ul class="ons-list ons-list--dashed">
            <li class="ons-list__item">
                <a href="/census/censuscustomerservices" class="ons-list__link">{{ localise "CensusContactUsLink1" .Language 1 }}</a>
            </li>
            <li class="ons-list__item">
                <a href="/census/2011census/2011censusdata/2011censusadhoctables" class="ons-list__link">{{ localise "CensusContactUsLink2" .Language 1 }}</a>
            </li>
        </ul>
    </div>
</div>