 <div class="ons-grid__col ons-col-6@m ons-u-mb-l">
    <div class="ons-card" data-test='search-9'>
        <h2 class="ons-u-fs-m" id="other-census">{{ localise "OtherCensus" .Language 1 }}</h2>
        <p id="other-census-desc">{{ localise "OtherCensusSubhead" .Language 1 }}</p>
        <ul class="ons-list ons-list--dashed">
            <li class="ons-list__item">
                <a href="https://www.scotlandscensus.gov.uk/" target="_blank" rel="noopener" class="ons-list__link ons-external-link">
                    {{ localise "OtherCensusLink1" .Language 1 }}
                    {{ template "icons/external-link" }}
                </a>
            </li>
            <li class="ons-list__item">
                <a href="https://www.nisra.gov.uk/statistics/census" target="_blank" rel="noopener" class="ons-list__link ons-external-link">
                    {{ localise "OtherCensusLink2" .Language 1 }}
                    {{ template "icons/external-link" }}
                </a>
            </li>
        </ul>
    </div>
</div>