<div class="ons-grid__col ons-col-6@m ons-u-mb-l">
    <div class="ons-card u-mt-l u-mb-l" data-test='census-data'>
        <h2 class="ons-u-fs-m" id="census-data">{{ localise "Census2021Data" .Language 1 }}</h2>
        <p id="census-data-desc">{{ localise "Census2021DataSubhead" .Language 1 }}</p>
        {{ if .Data.EnableGetDataCard }}
            <ul class="ons-list ons-list--dashed">
                <li class="ons-list__item">
                    {{ if .Data.DatasetFinderEnabled }}
                        <a href="/census/find-a-dataset" class="ons-list__link">{{ localise "GetCensusDataLink1" .Language 1 }}</a>
                    {{ else }}
                        <a href="/search{{ .Data.GetCensusDataURLQuery }}" class="ons-list__link">{{ localise "GetCensusDataLink1" .Language 1 }}</a>
                    {{ end }} 
                </li>
                {{ if .Data.EnableCustomDataset }}
                <li class="ons-list__item">
                    <a href="/datasets/create" class="ons-list__link">
                        {{ localise "CreateACustomDatasetLink" .Language 1 }}
                    </a>
                </li>
                {{ end }}
                <li class="ons-list__item">
                    <a href="https://www.nomisweb.co.uk/sources/census_2021" target="_blank" rel="noopener" class="ons-list__link ons-external-link">{{ localise "GetCensusDataLink2" .Language 1 }}{{ template "icons/external-link" }}</a>
                </li>
            </ul>
        {{ else }}
            <ul class="ons-list ons-list--dashed">
                <li class="ons-list__item">
                    <a href="/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/populationandhouseholdestimatesenglandandwalescensus2021" class="ons-list__link">{{ localise "GetCensusDataEnglandWales" .Language 1 }}</a>
                </li>
                <li class="ons-list__item">
                    <a href="/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/populationandhouseholdestimateswalescensus2021" class="ons-list__link">{{ localise "GetCensusDataWales" .Language 1 }}</a>
                </li>
            </ul>
        {{ end }}
    </div>
</div>
