<div class="ons-grid__col ons-col-6@m ons-u-mb-l">
    <div class="ons-card" data-test='search-3'>
        <h2 class="ons-u-fs-m" id="census-releases">{{ localise "CensusReleases" .Language 1 }}</h2>
        <p id="census-releases-desc">{{ localise "ReleasedCensusSubhead" .Language 1 }}</p>
        <ul class="ons-list ons-list--dashed">
            <li class="ons-list__item">
                <a href="/releasecalendar?query=census&fromDateDay=&fromDateMonth=&fromDateYear=&toDateDay=&toDateMonth=&toDateYear=&view=upcoming" class="ons-list__link">{{ localise "CensusReleasesLink1" .Language 1 }}</a>
            </li>
            <li class="ons-list__item">
                <a href="/census/censustransformationprogramme/census2021outputs/releaseplans" class="ons-list__link">
                    {{ localise "ReleasedCensusLink2" .Language 1 }}
                </a>
            </li>
        </ul>
    </div>
</div>