<div class="ons-grid__col ons-col-6@m ons-u-mb-l">
    <div class="ons-card" data-test='search-7'>
        <h2 class="ons-u-fs-m" id="census-planning">{{ localise "CensusPlanningAndPreparation" .Language 1 }}</h2>
        <p id="census-planning-desc">{{ localise "CensusPlanningAndPreparationSubhead" .Language 1 }}</p>
        <ul class="ons-list ons-list--dashed">
            <li class="ons-list__item">
                <a href="census/planningforcensus2021" class="ons-list__link">{{ localise "CensusPlanningAndPreparationLink1" .Language 1 }}</a>
            </li>
        </ul>
    </div>
</div>