{{ $availableTopics := .Data.AvailableTopics }}

{{ template "partials/banners/census-banner" . }}

<div class="ons-container search__container ons-u-mt-l ons-u-mb-l">
    <div class="ons-grid ons-grid--column@xxs@s">
        {{ template "partials/cards/about-census" . }}
        {{ template "partials/cards/census-data" . }}
        {{ template "partials/cards/census-releases" . }}
        {{ template "partials/cards/census-geography" . }}
        {{ template "partials/topic-browser" . }}
        {{ template "partials/cards/census-dictionary" . }}
        {{ template "partials/cards/census-historic" . }}
        {{ template "partials/cards/census-planning" . }}
        {{ template "partials/cards/census-contact" . }}
        {{ template "partials/cards/census-other" . }}
    </div>
</div>
