<div class="page-content">
    {{ template "partials/banners/census" . }}
    <div class="wrapper margin-top--3">
        {{ template "homepage/main-figures" . }}

        <div>
            {{ if .Data.EnablePreviewSiteTile }}
                {{ template "homepage/preview-site-tile" . }}
            {{ else }}
                {{ template "homepage/census-tile" . }}
            {{ end }}
        </div>
    </div>
    {{ template "homepage/promos" . }}
    <div class="wrapper background-gallery">
        <div class="tiles">
            {{ if .Data.HasFeaturedContent }}
                <div class="tiles__block tiles__block-no-mar-bottom">
                    {{ template "homepage/in-focus" . }}
                </div>
            {{ end }}
            {{ if gt (len .Data.AroundONS) 0 }}
                <div class="tiles__block tiles__block-no-mar-bottom">
                    {{ template "homepage/around-the-ons" . }}
                </div>
            {{ end }}
        </div>
    </div>
</div>
